* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

h1, h2 {
  letter-spacing: -1px;
  font-weight: 300;
}

h1 {
  font-size:100px;
  text-align: center;
  margin-bottom: 20px;


}

h2 {
  font-size:30px;
  text-align: center;
  margin: 60px 0 20px 0;
}
.divider, .divider-small {
  background-color: black;
  margin: 0 auto;
  margin-bottom: 90px;
}
.divider {
  width: 200px;
  height: 5px;
}
.divider-small {
  width: 100px;
  height: 2px;
}

.flexbox-container, #cruisey-container {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-item {
  background-color: #f7f7f7;
  border: 1px dashed black;
  width: 16.66%;
  box-sizing: border-box;
}

.bigger {
  width: 50%;
}

#cruisey-container {
  width:800px;
  margin: 0 auto;
}

.shadow-item {
  width:33.33%;
  padding:20px;
}

.shadow-inner {
  border-radius: 10px;
  box-shadow: 0px 15px 30px -10px #888888;
  padding:10px 20px;
}
